.padding {
  padding: 2em;
}

app-product {
  margin-right: 2em;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.mt {
  margin-top: 1em;
}

.p-width {
  width: 300px;
}

.mbb {
  margin-bottom: 5px;
}

.flex-end {
  justify-content: flex-end;
}

.mr {
  margin-right: 10px;
}

.nav-wrapper {
  padding: 0 25px;
}

.flex-column {
  flex-direction: column;
}

.height {
  min-height: 100vh;
}

.flex-1 {
  flex: 1;
}

.block {
  display: block;
}

.page-footer {
  padding-top: 0;
}

.mr5 {
  margin-right: 5px;
}

app-todo {
  display: block;
}

.sb {
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

input:not([type]).actor-input {
  height: auto;
  margin-bottom: 0;
  border: none !important
}

.actor-input.view {
  pointer-events: none;
}

.logo {
  width: 55px;
  transform: translateY(8px);
}

.blue-text.text-lighten-2 {
  color: #333333 !important;
}

code {
  color: #e83e8c;
  word-break: break-word;
  font-size: 14px;
}

.btn {
  background-color: #ee6e73 !important;
}
