.container {
  margin: 5em auto;
}

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0;
  border-width: 0 0 1px;
}

.collapse:not(.show) {
  display: block !important;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none !important;
}
