<form [formGroup]="filtersForm" class="row">
  <div class="col m2 s6">
    <label>Filter Category</label>
    <div class="input-field col s12">
      <select class="browser-default" formControlName="categoryControl">
        <option value="" disabled selected>Choose your catgory</option>
        <option value="Interior">Interior</option>
        <option value="Garden">Garden</option>
        <option value="Balcony">Balcony</option>
        <option value="Flowers">Flowers</option>
        <option value="Tree">Tree</option>
        <option value="Roses">Roses</option>
      </select>
    </div>
  </div>
  <div class="col m3 s6">
    <label>Size</label>
    <div class="">
      <label>
        <input class="with-gap" name="size" formControlName="size" type="radio" (click)="filterSize('XS')" value="XS"/>
        <span>XS</span>
      </label>
      <label>
        <input class="with-gap" name="size" formControlName="size" type="radio" (click)="filterSize('S')" value="S"/>
        <span>S</span>
      </label>
      <label>
        <input class="with-gap" name="size" formControlName="size" type="radio" (click)="filterSize('M')" value="M"/>
        <span>M</span>
      </label>
      <label>
        <input class="with-gap" name="size" formControlName="size" type="radio" (click)="filterSize('L')" value="L"/>
        <span>L</span>
      </label>
      <label>
        <input class="with-gap" name="size" formControlName="size" type="radio" (click)="filterSize('XL')" value="XL"/>
        <span>XL</span>
      </label>
      <label>
        <input class="with-gap" name="size" formControlName="size" type="radio" (click)="filterSize('2XL')"
               value="2XL"/>
        <span>2XL</span>
      </label>
      <label>
        <input class="with-gap" name="size" formControlName="size" type="radio" (click)="filterSize('3XL')"
               value="3XL"/>
        <span>3XL</span>
      </label>
    </div>
  </div>
  <div class="col m1 s6"><label>
    <input type="checkbox" (change)="changeFastDelivery()" formControlName="fastDeliveryControl"/>
    <span>Only Fast Delivery</span>
  </label></div>
  <div class="col m4 s6">
    <div class="input-field">
      <i class="material-icons prefix">search</i>
      <input placeholder="Search Product.." formControlName="search">
    </div>
  </div>
  <div class="col m2 s6">
    <label>Sort by</label>
    <select class="browser-default" formControlName="sortControl">
      <option value="+title">Name - ASC</option>
      <option value="-title">Name - DESC</option>
      <option value="+price">Price - ASC</option>
      <option value="-price">Price - DESC</option>
      <option value="+size">Size - ASC</option>
      <option value="-size">Size - DESC</option>
      <option value="+origin">Origin - ASC</option>
      <option value="-origin">Origin - DESC</option>
      <option value="+familly">Family - ASC</option>
      <option value="-familly">Family - DESC</option>
    </select>
  </div>
</form>

<div *ngIf="(filters$ | async).length">
  Filter :

  <div class="chip" *ngFor="let filter of (filters$ | async)" (click)="removeFilter(filter.id)">
    {{filter.name}}
    <i class="close material-icons">close</i>
  </div>

  <a class="waves-effect waves-teal btn-flat" (click)="removeFilterAll()">remove all</a>

</div>

<button (click)="getNormalizedFilters()">getNormalizedFilters (check the console)</button>
