<section class="navbar navbar-light navbar-expand-lg mb-5">

  <nav  class="container">

    <a class="navbar-brand" routerLink="/">
      <img src="/assets/akita.svg" width="50" height="50" alt="Akita">
    </a>

    <div class="navbar-collapse">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *showIfLoggedIn routerLinkActive="active">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>

      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLink="cart" routerLinkActive="item">
            Cart <span class="badge badge-pill badge-info">{{cartCount$ | async}}</span>
          </a>
        </li>

        <li class="nav-item flex items-center ml-10" *showIfLoggedIn="true">
          <button type="button" class="btn btn-outline-secondary btn-sm" (click)="logout()">Logout</button>
        </li>

      </ul>

    </div>
  </nav>

</section>


